<div class="bg-[url('../../hero_1.jpg')] h-[460px] ">
    <%- include('navbar'); %>
    <div class="text-center mt-40 text-white text-xl ">
        <h3 class="text-4xl font-bold mb-10 text-white ">list</h3>
        <span class="hero-title text-[#FF214F] mt-60 mb-50">Home </span>/<span > list</span>

    </div>
</div>
